---
const { title, company, location, start, end } = Astro.props;
---

<div class="flex">
  <span class="block mr-4 w-8 text-right">{start} to {end}</span>
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h2 class="font-bold text-lg mb-[0.125rem]">{company}</h2>
    <h3 class="font-medium mb-0">{title}</h3>
    <span class="font-light text-sm">{location}</span>
    <div class="mt-0 mb-4 text-justify">
      <slot />
    </div>
  </div>
</div>
